@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

:focus-visible {
    outline: 2px solid var(--main-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading img {
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading h3 {
    font-size: 4rem;
    color: var(--black);
    font-family: "Merienda", cursive;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: .8rem;
}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
    transform: scale(1.05);
    transition: 0.2s ease;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.8rem 2rem;
}

.header .flex .logo img {
    height: 4.5rem;
    width: auto;
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.logo span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
    font-family: "Merienda", cursive;
}

.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--black);
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}

#menu-btn:hover {
    color: var(--main-color);
    transform: scale(1.05);
    transition: 0.2s ease;
}

.home-bg {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(167, 167, 167, 0.2) 100%), url(../assets/images/bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center 50%;
}

.home-bg .home {
    min-height: 70rem;
    display: flex;
    align-items: center;
    padding: 0 5rem;
}

.home-bg .home .content {
    background-color: rgba(255, 255, 255, 0.502);
    backdrop-filter: blur(5px);
    padding: 4rem;
    border-radius: 1rem;
    max-width: 60rem;
    text-align: left;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.home-bg .home .content h1 {
    font-weight: bold;
    font-size: 6rem;
    color: var(--black);
    font-family: "Merienda", cursive;
}

.home-bg .home .content p {
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--black);
    line-height: 2;
}

.about {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.about .image {
    flex: 1 1 50rem;
    height: 50rem;
    position: relative;
    overflow: hidden;
}

.about .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-wrap: wrap;
}

.about .content {
    flex: 1 1 50rem;
}

.about .content h3 {
    font-size: 4rem;
    color: var(--black);
    font-family: "Merienda", cursive;
    padding-bottom: 1rem;
}

.about .content p {
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.5rem;

}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
    align-items: flex-start;
}

.menu .box-container .box {
    text-align: center;
}

.menu .box-container .box img {
    height: 12rem;
    margin-bottom: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    margin: 1rem 0;
}

.menu .box-container .box p {
    line-height: 2;
    font-size: 1.4rem;
    color: var(--light-color);
}


































/* media queries */

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .home-bg .home {
        padding: 0 2rem;
    }

    .home-bg .home .content {
        padding: 3rem;
    }

    .home-bg .home .content h1 {
        font-size: 5rem;
    }
}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
        transition: .2s linear;
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        box-shadow: var(--box-shadow);
        transition: all 0.3s ease;
        z-index: 1000;
    }

    .header .flex .navbar.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
        font-size: 2rem;
        padding-left: 2rem;
    }

    .home-bg {
        background-position: left;
    }

    .home-bg .home {
        justify-content: center;
    }

    .home-bg .home {
        padding: 0 2rem;
    }

    .home-bg .home .content {
        padding: 2.5rem;
        text-align: center;
        margin: 0 auto;
    }

    .home-bg .home .content h1 {
        font-size: 4.5rem;
    }

    .home-bg .home .content p {
        font-size: 1.6rem;
    }

    .about {
        gap: 2rem;
        flex-direction: column;
    }

    .about .image {
        min-height: 30rem;
    }

    .about .content h3 {
        font-size: 3rem;
    }

    .about .content p {
        font-size: 1.4rem;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .about {
        gap: 1.5rem;
    }

    .about .image {
        min-height: 25rem;
    }

    .heading h3 {
        font-size: 3rem;
    }
}